@media screen and (max-width: 1430px) {
  #nav-text {
    display: none;
  }
  #nav-buttons {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  #container {
    width: 768px;
  }

  #logo {
    width: 154px;
    height: 26.55px;
    margin-left: 9%;
  }
  #header-title {
    font-size: 36px;
    width: 110%;
  }
  #header-smalltext {
    font-size: 16px;
    width: 120%;
    margin-left: 7%;
    margin-right: 8%;
    line-height: 150%;
  }
  /* #van-gogh {
        height: 100%;
        width: 100%;
    } */
}
@media screen and (max-width: 320px) {
  #container {
    width: 320px;
  }
  #logo {
    width: 127.59px;
    height: 22px;
    margin-left: 9%;
    margin-top: 5%;
  }
  #header-text {
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
  }
  #header-title {
    font-size: 36px;
    width: 110%;
    margin-top: 3%;
    margin-left: 0;
    margin-bottom: 3%;
  }
  #header-smalltext {
    font-size: 16px;
    width: 100%;
    margin-left: 0;
  }
  #van-gogh {
    background-image: image-set(
      "C:/Users/sokol/Desktop/Web/my projects/Saleswhale/SW_assessment/src/pictures/pictures-phone/hero-img.jpg"
    );
    /* height: 268px;
        width: 296px; */
  }
}

@media screen and (max-width: 320px) {
  #mission-main {
    flex-direction: column;
  }
}
