/*#region First row*/
@media screen and (max-width: 1430px) {
  #nav-text {
    display: none;
  }
  #nav-buttons {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  #container {
    width: 768px;
  }

  #logo {
    width: 154px;
    height: 26.55px;
    margin-left: 9%;
  }
  #header-title {
    font-size: 36px;
    width: 110%;
  }
  #header-smalltext {
    font-size: 16px;
    width: 120%;
    margin-left: 7%;
    margin-right: 8%;
    line-height: 150%;
  }
  /* #van-gogh {
        height: 100%;
        width: 100%;
    } */
}
@media screen and (max-width: 320px) {
  #container {
    width: 320px;
  }
  #logo {
    width: 127.59px;
    height: 22px;
    margin-left: 9%;
    margin-top: 5%;
  }
  #header-text {
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
  }
  #header-title {
    font-size: 36px;
    width: 110%;
    margin-top: 3%;
    margin-left: 0;
    margin-bottom: 3%;
  }
  #header-smalltext {
    font-size: 16px;
    width: 100%;
    margin-left: 0;
  }
  #van-gogh {
    background-image: image-set(
      "C:/Users/sokol/Desktop/Web/my projects/Saleswhale/SW_assessment/src/pictures/pictures-phone/hero-img.jpg"
    );
    /* height: 268px;
        width: 296px; */
  }
}
/*#endregion*/

/*#region "Second row"*/
@media screen and (max-width: 770px) {
    #mission-subtitle{
        margin-right: 25%;
        font-size: 16px;
        width: 55%;
    }
    #mission-picture{
        width: 56px;
        height: 56px;
    }
    #mission-title{
        font-size: 32px;
    }

     #mission-main {
        font-size: 16px;
        margin-left: 8%;
        margin-right: 5%;
        width: 85%;
    }
    
#mission-main-title{
    font-size: 16px;
}
#mission-smallText{
    font-size: 16px;
}
#mission-bottom-text{
    font-size: 16px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    text-align: center;
}

#mission-button {
    width: 20%;
    font-size: 16px;
  } 


@media screen and (max-width: 320px) {
  #mission-main {
    flex-direction: column;
  }

  #mission-title{
    font-size: 32px;
    text-align: left;
    margin-left: 8%;
    margin-top: 15%;
}
#mission-subtitle{
    font-size: 16px;
    width: 90%;
    text-align: left;
    float: left;
    margin-bottom: 15%;
}
#mission-column{
    margin-bottom: 20%;
    margin-left: 5%;

}  

#mission-bottom-text{
    font-size: 16px;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 5%;
    text-align: left;
}

#mission-button {
    width: 85%;
    margin-left: 8%;
    padding: 5%;
    font-size: 16px;
  }




@media screen and (max-width: 320px) {
 
  }
  


/*#endregion*/
