* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  box-sizing: content-box;
  width: 1440px;
  margin: auto;
  font-family: Source Sans Pro;
  font-size: 18px;
}
/*#region "First row - Above the fold"*/
header {
  width: inherit;
}
nav {
  width: inherit;
  display: inline-flex;
  flex-direction: row;
}

.logo {
  margin-top: 3%;
  margin-left: 10%;
  width: 15%;
  height: 5%;
  margin-right: 13%;
}

.nav-text {
  display: flex;
  margin-top: 44px;
  margin-right: 148px;
  font-weight: bold;
}

.nav1 {
  width: 190px;
}
.nav2 {
  width: 130px;
}

.nav1:hover,
.nav2:hover,
.nav3:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav1:active,
.nav2:active,
.nav3:active {
  transform: translateY(10px);
}

.nav-buttons {
  display: inline-flex;
  margin-top: 35px;
}

/*log and demo are the buttons in navigation row*/
.log {
  width: 96px;
  height: 42px;
  border: 1px solid #0688fa;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  color: #0688fa;
  margin-right: 13px;
  font-family: "Source Sans Pro";
  font-weight: bold;
}
.demo:hover,
.log:hover {
  cursor: pointer;
  background-color: darkseagreen;
}
.demo:active,
.log:active {
  transform: translateX(5px);
}

.demo {
  width: 151px;
  height: 42px;
  background: #0688fa;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  margin-right: 118px;
}
/*the picture*/
.van-gogh {
  max-width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: 5%;
}

.header-text {
  display: flex;
  flex-direction: row;
  font-family: Source Sans Pro;
  color: #002240;
  margin-bottom: 7%;
}

.header-title {
  width: auto; /*498*/
  margin-left: 10%; /*116*/
  margin-top: 3%; /*61*/
  font-weight: bold;
  font-size: 58px;
}

.header-smalltext {
  width: 100%;
  margin-left: 7%;
  margin-top: 3%;
  font-size: 18px;
  margin-right: 9%;
  line-height: 178%;
}
/*#endregion*/

/*#region "Second row - Mission"*/
.Mission {
  width: inherit;
  display: grid;
}

.mission-title {
  grid-row: 1;
  margin-top: 5%;
  font-weight: bold;
  font-size: 58px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #002240;
}

.mission-subtitle {
  display: flex;
  width: 78%;
  flex-wrap: wrap;
  margin-top: 3%;
  font-size: 21px;
  float: right;
  letter-spacing: 0.01em;
  font-feature-settings: "kern" off;
  color: #537089;
  margin-bottom: 5%;
}

.mission-main {
  grid-row: 2;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  margin-left: 10%;
  margin-bottom: 9%;
  margin-right: 10%;
}
.mission-column {
  flex: 25%;
  padding: 1%;
  flex-direction: row;
}

.mission-picture {
  margin-bottom: 3%;
  height: 40%;
  width: 15%;
  margin-right: 0;
}

.mission-main-title {
  font-weight: bold;
  font-size: 21px;
  color: #002240;
  margin-bottom: 3%;
}

.mission-smallText {
  font-size: 18px;
  font-weight: 400;
  color: #537089;
  width: 90%;
  margin-bottom: -13%;
}

.mission-bottom-text {
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  font-weight: bold;
  color: #002240;
  width: 100%;
  justify-content: center;
}

.mission-button {
  grid-row: 3;
  width: 15%;
  padding: 1.5%;
  margin-left: 40%;
  margin-top: 3%;
  background: #0688fa;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-bottom: 8%;
}

/*#endregion*/

/*#region Third Row "Timeline*/
.timeline{
  width: inherit;
}

.timeline-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #002240;
  margin-top: 7%;
}

.blue-rectangle {
  width: 90%;
  height: 879px;
  margin-left: 5%;
  margin-top: 10%;
  background-color: #eff8ff;
  border-radius: 5px;
  margin-bottom: 13%;
  display: grid;
  grid-row: 5;
}

.line {
  margin-left: 264px;
  position: absolute;
}

.timeline-row1 {
  display: inline-flex;
  margin-top: 15%;
}

.date {
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #0688fa;
  margin-left: 9%;
}

.envelope {
  width: 80px;
  height: 80px;
  margin-left: 55px;
  z-index: 3;
  margin-top: -20px;
}

.timeline-description {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #002240;
  margin-left: 45px;
}

.timeline-row2,
.timeline-row3,
.timeline-row4,
.timeline-row5 {
  display: inline-flex;
}
/*#endregion*/

/*#region 4th row, "Offices"*/
.Offices {
  width: inherit;
  height: 595px;
  background-image: url("C:/Users/sokol/Desktop/Web/my projects/Saleswhale/SW_assessment/src/pictures/pictures-desktop/tilt.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.offices-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #002240;
  margin-bottom: 10%;
}
.offices-boxes {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.box {
  width: 528px;
  height: 283px;
  margin-right: 5%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-bottom: 5%;
}
.offices-image {
  width: 80px;
  height: 80px;
  margin-left: 40%;
  margin-top: 6%;
  position: relative;
  z-index: 4;
  opacity: 1;
}

.offices-box-title {
  font-size: 34px;
  line-height: 32px;
  text-align: center;
  color: #002240;
  margin-top: 5%;
  z-index: 0.1;
  margin-bottom: 3%;
}

.offices-box-subtitle {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #002240;
}

/*#endregion*/

/*#region 5th row "Investors*/
.Investors{
  width: inherit;
  background-image: url("C:/Users/sokol/Desktop/Web/my projects/Saleswhale/SW_assessment/src/pictures/pictures-desktop/Mask\ Group.png");
  background-repeat: no-repeat;
  background-position: top;
  /* height: 954px; */
}

.investors-title {
  margin-top: 5%;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  /* identical to box height, or 107% */
  text-align: center;
  letter-spacing: 0.01em;
  color: #002240;
}

.investor-boxes {
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 800px;
}

.logo1 {
  margin-top: 95px;
  margin-left: 89px;
}

.logo2 {
  margin-top: 115px;
  margin-left: 151px;
}

.logo3 {
  margin-top: 60px;
  margin-left: 128px;
}

.logo4 {
  margin-top: 68px;
  margin-left: 115px;
}

/*#endregion*/

/*#region 6th row "The future"*/
.The-future {
  background: url("C:/Users/sokol/Desktop/Web/my projects/Saleswhale/SW_assessment/src/pictures/pictures-desktop/bg.png");
  background-repeat: no-repeat;
  background-size: 1313.82px 398.53px;
  background-position: 25% 50%;
  width: inherit;
}
.future-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: white;
  margin-top: 10%;
}
.future-buttons{
  display: flex;
  flex-direction: row;
}

.future-button1 {
  width: 272px;
  height: 62px;
  background: #ffffff;
  mix-blend-mode: normal;
  font-family: Source Sans Pro;
  font-size: 18px;
  /* Shadow / Button */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  margin-bottom: 10%;
  color: #002240;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 3%;
}

.future-button2 {
  font-family: Source Sans Pro;
  font-size: 18px;
  width: 272px;
  height: 62px;
  margin-top: 5%;
  border: 2px solid #ffffff;
  background: #329dfa;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
/*#endregion*/

/*#region 7th row "About us"*/
.Bottom{
 width: inherit;
}
.bottom-logo {
  margin-top: 95px;
  margin-left: 116px;
  position: absolute;
}

.bottom-about {
  margin-bottom: 10%;
  margin-left: 30%;
  margin-top: 6%;
  flex-wrap: wrap;
  display: flex;
  flex: 25%;
  flex-direction: row;
}

.bottom-title {
  font-weight: bold;
  line-height: 42px;
  color: #002240;
}

.column1 {
  margin-right: 8%;
}

.column2 {
  margin-right: 8%;
}
.column3 {
  margin-right: 8%;
}
/* .column4 {

} */

/*#endregion*/

/*#region "Footer*/
footer {
  background-color: #f4f4f4;
  width: inherit;
}
.footer-text {
  display: inline-flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 19px;
  width: inherit;
}
.privacy {
  margin-right: 30px;
  margin-left: 100px;
}
.copyrights {
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  color: #002240;
  margin-left: 100px;
}

.social-icons {
  margin-left: 880px;
  margin-right: 117px;
  width: 20%;
  display: inline-flex;
  justify-content: space-between;
}

.footer-image {
  width: 1440px;
  margin-top: 36px;
}
/*#endregion*/
